@import "../../common/colors.scss";

.footer {
    background: $secondary-color;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $font-primary;
    flex-direction: column;
    box-shadow: 0 0 15px 2px orange;
}
