@import "../src/common/colors.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

body {
    background: url("https://file-uploads.teachablecdn.com/1b56d45f30994705a9935d4134cf95e1/3fdb15467c52413794d6611d94f702b0");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100px;
    

}

.container {
    margin: 0px 40px;
}
